{{> header}}
    {{> navbar}}
    {{> navbarleft}}
<div class="container" id="main">
    <div class="row">
        <div class="col-md-12" style="font-size: 30pt;">
            <label>Bienvenido Administrador {{ capitalizar username}}</label>
        </div>
    </div>
</div>
{{> footer}}